body {
    height: 200vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background: #f4c531;
    padding: 15px;
    text-align: center;
}

nav a {
    margin: 0 20px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
