body {
    min-height: 200vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background: #f4c531;
    padding: 15px;
    text-align: center;
}

nav a {
    margin: 0 20px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

section {
    margin: 40px 0;
    background: #fff5a7;
    padding: 20px;
}

.row {
    display: flex;
    gap: 20px;
}

img {
    width: 200px;
    height: 150px;
    background: lightblue;
}

form {
    background: #ffd1d1;
    padding: 15px;
}

.hidden {
    display: none;
}

button {
    padding: 10px 20px;
}

.message {
    padding: 10px;
    margin-top: 10px;
}

.success {
    background: #c8ffbf;
}

.error {
    background: #ff9e9e;
}

footer {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    
    height: 100px;
    width: 100%;
    
    background: #f4c531;
    padding: 20px 0;
}

footer p {
    margin: 0;
    text-align: center;
}